.home-page {
  display: flex;
  flex-direction: column-reverse; /* Stack content on top of the image on smaller screens */
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 50px;
}

/* Adjust content width for smaller screens */
.content {
  width: 100%;
  max-width: 100%;
  text-align: center;
}

/* Responsive heading */
.heading {
  font-size: 3em;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Inknut Antiqua', serif;
  line-height: 1.4;
  margin-left: 0;
  text-align: center; /* Center align for mobile */
}

/* Responsive "Book Now" button */
.booknow {
  position: relative;
  margin-left: 0; 
  margin-top: 40px;
  font-size: 1.5em;
  font-family: 'Inknut Antiqua';
  text-align: left; 
  padding: 5px 20px; 
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255); 
  border: none; 
  cursor: pointer; 
}

.booknow:hover {
  color: #CF5E0D;
}

/* Car image responsiveness */
.car-image {
  width: 100%;
  margin-top: 60px;
  margin-right: -50px;
}

.car-image img {
  max-width: 100%;
  height: auto;
}

/* Media Query for larger screens */
@media (min-width: 768px) {
  .home-page {
    flex-direction: row; /* Default layout for larger screens */
    justify-content: space-between;
    padding: 0 50px;
  }

  .content {
    max-width: 50%; /* Adjust content width on larger screens */
    text-align: left; /* Align text to the left */
  }

  .heading {
    font-size: 4em; /* Adjust font size for larger screens */
    text-align: left; /* Align text to the left */
  }

  .booknow {
    position: relative;
    margin-left: 0; 
    margin-top: 40px;
    font-size: 1.5em;
    font-family: 'Inknut Antiqua';
    text-align: left; 
    padding: 5px 20px; 
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); 
    border: none; 
    cursor: pointer; 
}

.booknow:hover {
    color: #CF5E0D;
}

  .car-image img {
    max-width: 700px;
    margin-top: 110px;
    margin-right: -50px;
  }
}


