/* Base styles for the navbar */
.navbar {
    border-radius: 2px;
    border-color: aliceblue;
    background-color: black;
    padding: 10px;
    height: 110px;
    position: fixed; /* Make navbar fixed */
    top: 0;
    width: 100%; /* Ensure it spans the full width */
    z-index: 1000; /* Keep it on top of other elements */
    /* justify-content: center; */
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navList {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    padding-top: 10px;
}

.navItem {
    margin: 0 15px;
}

.navLink {
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    font-family: 'Inknut Antiqua', serif;
}

.navLink:hover {
    color: #CF5E0D;
}

/* Center logo on larger screens */
@media (min-width: 769px) {
    .logo {
        padding-top: 0; 
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 10%; /* Adjust logo size */
    }
}



/* Adjust for very small screens (phones) */
@media (max-width: 480px) {
    .navbar {
        height: 60px; /* Even smaller height */
        padding: 5px 10px;
    }
    

    .logo {
        align-items: c;
        padding-right: 10px;
        max-width: 20%; /* Further adjust logo size */
        z-index: -1;
    }

    .navLink {
        font-size: 12px; /* Further adjust font size */
    }

    .navList {
        width: 60%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    .navItem {
        margin: 3px 0; /* Further reduce margin */
    }
    
}
